<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <h1>Users</h1>            
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <h3 class="text-right"><a href="#!adduser" class="orangeButton"><span class="glyphicon glyphicon-plus"></span> Add User</a></h3>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th ng-click="orderByFilter('firstName')">First Name</th>
                <th ng-click="orderByFilter('lastName')">Last Name</th>
                <th ng-click="orderByFilter('email')">Email</th>
                <th ng-click="orderByFilter('address.city')">City</th>
            </tr>
        </thead>
        <tr ng-repeat="user in data | orderBy: orderByProperty" ng-click="view(user)">
            <td><img class="img-responsive img-circle avatar" src="{{user.profilePic}}"></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address.city}}</td>
        </tr>
    </table>    
</div>