<div class="container">
                <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                <h1>User Details</h1>            
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                <h3 class="text-right"><a href="#!" class="orangeButton"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></h3>
                        </div>
                </div>
                        
        <div class="jumbotron">
                <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                <p class="title">Name</p>
                                <p>{{user.firstName + " " + user.lastName}}</p></br>
                                <p class="title">Email</p>
                                <p>{{user.email}}</p></br>
                                <p class="title">Address</p>
                                <p>{{user.address.street}}</p>
                                <p>{{user.address.city + "," + user.address.state + "," + user.address.country + " - " + user.address.zip}}</p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                <img class="img-thumbnail" src="{{user.profilePic}}">
                        </div>                
                </div>
                <div class="row">
                        <button type="button" class="btn" ng-click="deleteUser()">Delete User</button>
                </div>
        </div>
</div>